/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

html, body, .ui.container.fluid{
    height: 100%;
    overflow: hidden;
}


#blackboard{
    width: 100%;
    height: 100%;
    cursor: crosshair;
    background-image: url('../img/paper.png');
}

#header{
    position: absolute;
    color: rgba(0, 181, 173, 1);
    top: 20px;
    left: 20px;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    font-family: 'Schoolbell', cursive;
    font-size: 3.5em;
}

#toolbar{
    position: absolute;
    left:5px;
    bottom: 5px;
    opacity: 0.85;
    width: 100%;
}

#footer{
    display: none;
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

.ui.circular.icon.button:focus{
    border: solid 3px #00B5AD;
}

.ui.small.modal{
    background: rgba(0, 181, 173, 0.6);
}

.ui.small.modal>.header:not(.ui){
    background: rgba(0, 181, 173, 0.6);
    color: #FFF;
    font-size: 1.5em;
    opacity: 0.7;
}

.ui.small.modal>.content{
    font-size: 1.5em;
    opacity: 0.7;
    background: rgba(255, 255, 255, 0.6);
}

.ui.small.modal>.actions{
    background: rgba(0, 181, 173, 0.6);
    color: #FFF;
}

.inputTextBox{
    display: block;
    position: absolute;
    background: none;
    text-align: left;
    border: none;
}

.inputTextBox:focus{
    outline: none;
    background-color: rgba(255, 255, 255, 0.4);
}

.ui.container.fluid{
    margin: 0 !important;
}

#center{
    position:absolute;
    right: 10px;
    top: 10px;
}

h2.description{
    display: none;
}

@media screen and (min-width: 992px) {
    #footer{
        display: block;
    }
}


@media screen and (max-width: 768px) {
    #header{
        font-size: 1em;
    }
}